* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #f5f5f5;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
}

.wrapper {
  width: 90%;
  max-width: 960px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leaderboard {
  display: flex;
  gap: 10px;
  align-items: center;
}

.right {
  width: 50%;
  height: 100%;
  padding: 5px;
  border-radius: 5px;
}

.recent-score {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.refresh {
  border: none;
  background: rgb(249, 145, 145);
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.left {
  width: 50%;
  height: 100%;
  padding: 2px;
}

.left p {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 10px;
}

form input[type] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 50%;
  margin-bottom: 10px;
}

form button {
  border: none;
  border-radius: 5px;
  width: 50%;
  padding: 5px;
  color: #fff;
  background: #4caf50;
  cursor: pointer;
}
